@import '/master';

.button {
  margin: 5px;
}

.buttonIcon {
  pointer-events: none;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.counterBox {
  input {
    background-color: red;
  }
}
